---
import PostLayout from "../../layouts/PostLayout.astro"
import Input from "../../Components/Input.astro"
import BotonPrincipal from "../../Components/BotonPrincipal.astro"
---

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Slab:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <style>
        body {
            font-family: "Josefin Slab", serif;
            font-optical-sizing: auto;
        }
    </style>
</head>
<body>
    <div class="flex h-screen items-center justify-center gap-x-72 "> <!--contenedor principal -->

        <div class="flex content-center"> <!--contenedor del formulario -->
            <form action="/Solicitante/VistaUsuario" class="form flex flex-col w-96 items-center gap-28">
              

                <div class="logo-sena flex m-auto items-center justify-center w-80 h-28 bg-custom-green rounded-bl-[50px] rounded-br-[50px]"> <!--caja del logo -->
                    <img class="sena w-20 h-20" src="/public/img/logoSena.png" width="10" height="10">
                </div>

                <div class="login flex flex-col items-center gap-4 min-w-96 ">
                    <div class="text-3xl pb-8">INICIO DE SESIÓN</div>
                    
                    <Input type="text" placeholder="E-mail" Text="" id=""></Input>
                
                    <Input type="password" placeholder="Password" Text="" id=""></Input>
            
                    <div class="flex justify-end w-full">
                    <a href="/Principal/OlvidarContraseña" class="text-blue-500 underline decoration-1 ">¿Olvidaste tu contraseña?</a>
                 </div>

                 <a href="/Solicitante/VistaUsuario">
                    <BotonPrincipal Text="Iniciar Sesión" id="Login"></BotonPrincipal>
                </a>
                </div>

                <div class="boton items-center text-center mb-3 ">
                    <div class="flex">¿No tienes cuenta?</div>
                    <a href="/Principal/Registro1" class="signup text-blue-500 underline decoration-1">Registrarse</a>
                </div>

            </form>

        </div>

        <div>
            <img class="w-[800px] h-[800px]" src="../../public/img/nino.png" alt="">
        </div>

    </div>
</body>

</html>