---
import CardProyect from "../../Components/CardProyect.astro"

import RadioButton from "../../Components/RadioButton.astro"
import BotonSegundo from "../../Components/BotonSegundo.astro"
import Layoutprincipal from "../../layouts/LayoutPrincipal.astro"
import Layoutcontenido from "../../layouts/Layoutcontenido3.astro"
---

<Layoutprincipal title="Proyectos">

    <Layoutcontenido title="contenido">
    <div class="w-full">
    <div class="flex flex-col items-center">
        <div class="w-full max-w-7xl">

            <div  class="m-[2em]">
                <h1 class="font-bold text-2xl">Proyecto asignados</h1>
            </div>

            <div class="grid grid-cols-1 gap-8 md:grid-cols-2 lg:grid-cols-3 font-josefin-slab">

                <CardProyect Text="Banco de proyectos">
                    <a href="/Calificar2"><BotonSegundo Text="Ver"/></a>
                </CardProyect>

                <CardProyect Text="Banco de proyectos">
                    <BotonSegundo Text="Ver"/>
                </CardProyect>

                <CardProyect Text="Banco de proyectos">
                    <BotonSegundo Text="Ver"/>
                </CardProyect>

                <CardProyect Text="Banco de proyectos">
                    <BotonSegundo Text="Ver"/>
                </CardProyect>

                <CardProyect Text="Banco de proyectos">
                    <BotonSegundo Text="Ver"/>
                </CardProyect>

                <CardProyect Text="Banco de proyectos">
                    <BotonSegundo Text="Ver"/>
                </CardProyect>
            </div>
        </div>
    </div>
</div>
</Layoutcontenido>
</Layoutprincipal>