---
interface Props {
Text1: string;
Text2: string;
Text3: String;
}

const {Text1, Text2, Text3} = Astro.props;
---


<link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet" />
<link href="https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap" rel="stylesheet" />
<link href="https://fonts.googleapis.com/css?family=Josefin+Slab&display=swap" rel="stylesheet" />

<style>
      body {
            font-family: "Nunito Sans", sans-serif;
            font-optical-sizing: auto;
        }

</style>



<div class="w-full bg-[#A3E784] ">
    <div class="grid gap-4">
        <div class="grid grid-cols-12 items-center border-b py-2 mt-15 h-20">
            <div class="col-span-10">
                <span class="text-2xl font-sans-serif font-bold pl-12">{Text1}</span>
            </div>
            <div class="text-2xl font-sans-serif font-bold pl-2">
                <p>{Text2}</p>
            </div>
        </div>
    </div>
</div>