---

interface Props {
Text: string;

}

const {Text} = Astro.props;
---

<link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet" />
<link href="https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap" rel="stylesheet" />
<link href="https://fonts.googleapis.com/css?family=Josefin+Slab&display=swap" rel="stylesheet" />
<link href="https://fonts.googleapis.com/css2?family=Josefin+Slab:ital,wght@0,100..700;1,100..700&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap" rel="stylesheet">


<style>
    .font-josefin-slab {
        font-family: 'Josefin Slab', serif;
    }
    .font-josefin-sans {
        font-family: 'Josefin Sans', sans-serif;
    }
    .font-inter {
        font-family: 'Inter', sans-serif;
    }

    .font-nunito-sans{
            font-family: "Nunito Sans", sans-serif;
            font-optical-sizing: auto;
    }
</style>



<div class="w-full sm:w-5/6 md:w-80 h-auto sm:h-60 bg-[#FBFCFF] rounded-xl border-2 border-[#FBFCFF] shadow-lg flex flex-col items-center justify-center p-4 sm:p-8 mb-4 sm:m-8">
    <h2 class="text-base sm:text-xl md:text-2xl font-nunito-sans mb-2 sm:mb-4 text-center leading-tight p-2 sm:p-4 font-bold">
        {Text}
    </h2>
    <button class="group cursor-pointer outline-none hover:rotate-90 duration-300">
        <svg class="stroke-[#A3E784] fill-none group-active:duration-0 duration-300"
            viewBox="0 0 24 24"
            height="60px"
            width="60px"
            xmlns="http://www.w3.org/2000/svg">
            <path stroke-width="1.5" d="M12 22C17.5 22 22 17.5 22 12C22 6.5 17.5 2 12 2C6.5 2 2 6.5 2 12C2 17.5 6.5 22 12 22Z"></path>
            <path stroke-width="1.5" d="M8 12H16"></path>
            <path stroke-width="1.5" d="M12 16V8"></path>
        </svg>
    </button>
</div>