---
import Itemss1 from '../Components/Itemss1.astro';

interface MenuItem {
  href: string;
  label: string;
  icon: string;
}

let userRole = 'default';
if (typeof window !== 'undefined') {
  userRole = localStorage.getItem('userRole') || 'default';
  console.log("User Role:", userRole);
}

const menuConfig: { [key: number]: MenuItem[] } = {
  1: [
    { icon: 'fas fa-home', href: '/VistaProyectos', label: 'Proyectos' },
    { icon: 'fas fa-solid fa-user', href: '/VistaAprobados', label: 'Vista Aprobados' },
    { icon: 'fas fa-cog', href: '/AsignarProyecto', label: 'Asignar Proyecto' }
  ],
  2: [
    { icon: 'fas fa-home', href: '/VistaMisProyectos', label: 'Vista Mis proyectos' },
    { icon: 'fas fa-project-diagram', href: '/EditarPerfil', label: 'Editar Perfil' }
  ],
  3: [
    { icon: 'fas fa-home', href: '/CrearFichas', label: 'Crear Usuario' },
    { icon: 'fas fa-solid fa-users', href: '/CrearUsuario', label: 'Crear Fichas' },
    { icon: 'fas fa-tools', href: '/EditarRegistro', label: 'Editar Registro' },
    { icon: 'fas fa-tools', href: '/CargaMasiva', label: 'Cargar Aprendices' }
  ],
  4: [
    { icon: 'fas fa-home', href: '/ProyectosAsignados', label: 'Proyectos Asignados' },
    { icon: 'fas fa-book', href: '/EditarPerfil', label: 'Editar Perfil' }
  ]
};

const menuItems: MenuItem[] = menuConfig[parseInt(userRole)] || [];
console.log("Menu Items:", menuItems);
---

<!doctype html>
<html lang="en" class="dark">
<head>
    <link
        href="https://fonts.googleapis.com/css2?family=Josefin+Slab:ital,wght@0,100..700;1,100..700&display=swap"
        rel="stylesheet"
    />
    <style>
        body {
            font-family: "Josefin Slab", serif;
            font-optical-sizing: auto;
        }

        .sidebar {
            width: 60px;
            transition: width 0.3s ease, transform 0.3s ease;
        }

        .sidebar.open {
            width: 200px;
        }

        .sidebar ul span {
            display: none;
        }

        .sidebar.open ul span {
            display: inline-block;
        }

        .sidebar:hover {
            width: 200px;
        }
    </style>
</head>
<body>
    <button id="menu-button" class="md:hidden p-4 fixed top-0 left-0 z-50">
        <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7"></path>
        </svg>
    </button>

    <aside id="sidebar" class="sidebar fixed top-0 left-0 z-40 h-screen bg-Verde transition-transform transform -translate-x-full md:translate-x-0">
        <div class="h-full px-3 py-4 overflow-y-auto dark:bg-custom-green">
            <ul id="menuItems" class="space-y-3 font-medium">
                <div class="flex items-center">
                    <img src="../public/img/Logo.png" alt="Logo" class="w-10 h-10 pb-2">
                    <span class="text-xl font-semibold whitespace-nowrap dark:text-black ml-2 pl-2">PAC</span>
                </div>
                {menuItems.map(item => (
                    <Itemss1 href={item.href} label={item.label} icon={item.icon} />
                ))}
            </ul>
        </div>
    </aside>

    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const menuButton = document.getElementById('menu-button');
            const sidebar = document.getElementById('sidebar');

            if (menuButton && sidebar) {
                menuButton.addEventListener('click', () => {
                    sidebar.classList.toggle('-translate-x-full');
                    sidebar.classList.toggle('open');
                });
            }
        });
    </script>

</body>
</html>