---
interface Props {
Text: string;
}

const { Text } = Astro.props;
---


<!doctype html>
<html lang="en">
<head>
   
    <style>
        body {
            font-family: "Josefin Slab", serif;
            font-optical-sizing: auto;
        }
    </style>
</head>
<body>
    <div class="modal h-screen w-full fixed left-0 top-0 flex justify-center items-center bg-[#B9B9B9] bg-opacity-70 hidden">
        <div class="bg-white rounded shadow-lg w-96 max-[768px]:w-[20rem] ">
            <div class="border-b px-4 py-2 flex justify-end items-center">
            <button class="text-black closed-modal close-modal"> &cross; </button>
            </div>
            <div class="border-b px-4 py-2 flex flex-col justify-center items-center">
                <span class="font-Josefin-Slab">{Text}</span>
                <img class="" src="/Img/checkmark.png"/>
            </div>
        </div>
    </div>
</body>