---
import Input from "../../Components/Input.astro"
import BotonPrincipal from "../../Components/BotonPrincipal.astro"
import BotonSegundo from "../../Components/BotonSegundo.astro"
import SelectBoxTI from "../../Components/SelectBoxTI.astro"
import SelectBoxRol from "../../Components/SelectBoxRol.astro"
import RadioButton from "../../Components/RadioButton.astro"
import LayoutPrincipal from "../../layouts/LayoutPrincipal.astro"
import Layoutcontenido4 from "../../layouts/Layoutcontenido4.astro"
import Modal from "../../Components/Modal.astro"
---
<style>
    body {
            font-family: "Nunito Sans", sans-serif;
            font-optical-sizing: auto;
        }

    .relative input {
        padding-right: 2.5rem; /* Añade espacio a la derecha del input para el icono */
    }
    .relative i {
        right: 1rem; /* Ajusta la posición del icono */
    }
    .error-message {
        color: red;
        font-size: 0.875rem; /* Tamaño de fuente pequeño */
        margin-top: -0.5rem; /* Ajusta el margen para alinear mejor con los inputs */
        margin-bottom: 1rem; /* Espacio debajo del mensaje */
        text-align: left; /* Alineación del texto */
        width: 100%; /* Asegura que ocupe todo el ancho del contenedor */
    }
</style>

<LayoutPrincipal title="Crear Usuario">
    <Layoutcontenido4 title="Crear Usuario">
        <div class="w-full md:w-1/2 " >
        <div class="flex flex-col p-[5%] Flex-box space-y-5">
            <div>
                <Input Text="Nombre del usuario:" placeholder="Nombre del usuario" type="text" id="nombreUsu"/>
                <span id="nombreError" class="error-message"></span>
            </div>

            <div>
                <SelectBoxTI Text="Tipo de documento" id="tipoDoc"/>
                <span id="tipoDocError" class="error-message"></span>
            </div>

            <div>
                <Input  placeholder="Numero de documento" type="text" Text="Numero de documento" id='numeroDoc'/>
                <span id="numeroDocError" class="error-message"></span>
            </div>

            <div>
                <Input  placeholder="Correo" type="email" Text="Correo:" id='correo'/>
                <span id="correoError" class="error-message"></span>
            </div>
    </div>
</div>

<div class="w-full md:w-1/2" >
    <div class="  flex flex-col  p-[5%]  Flex-box space-y-5">
            <div>
                <Input Text="Contraseña:" placeholder=".............." type="password" id="contrasena"/>
                <span id="contrasenaError" class="error-message"></span>
            </div>

            <div>
                <SelectBoxRol Text="Tipo de Rol:" id="tipoRol"/>
                <span id="tipoRolError" class="error-message"></span>
            </div>

            <div class="space-y-4">
            <h1> Estado: </h1>
            <div class="flex h-[23px] ">
                <RadioButton Text="Activo" id="estadoActivo"/>
                <RadioButton Text="Inactivo" id="estadoInactivo"/>
            </div>
            <span id="estadoError" class="error-message"></span>
            </div>

            <div class="space-y-3.5">
                <Input Text="Celular:" placeholder="Celular" type="text" id="celular"/>
                <span id="celularError" class="error-message"></span>
            </div>

            <div class="flex flex-col items-center sm:flex-row justify-end space-y-2 sm:space-y-0 sm:space-x-4">
                <a href="/HomeSuperAdmin">
                    <BotonPrincipal Text="Volver" />
                </a>
                <div class="flex flex-col items-center sm:flex-row justify-end space-y-2 sm:space-y-0 sm:space-x-4 show-modal">
                    <BotonSegundo Text="Guardar" id="guardarBtn"/>
                </div>
            </div>
        </div>
    </div>
    </div>

    <Modal Text="Usuario registrado correctamente"/>
    <script src="../../js/SuperAdmin/CrearUsuario.js"></script>

    </Layoutcontenido4>
</LayoutPrincipal>