body {
    font-family: "Josefin Slab", serif;
    font-optical-sizing: auto;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

@media (max-width: 780px){
    .Principal{
        display:none;
        width: 75%;

    }

.Container {
    padding: 1px; ;
    width: 10px;
    height: 10px;
    background: rgb(255, 255, 255);
}

.Logo{
    width: 100px;
    height: 100px;
    position: absolute;
    top: 32px;
    left: 180px;
}


.Tittle {
    width: 561px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 200px;
    left: 180px;
    font-family: "Josefin Slab";
    font-size: 130px;
    text-align: left;
}

.Tittle1 {
    width: 284px;
    color: rgba(163,231,132,1);
    position: absolute;
    top: 470px;
    left: 180px;
    font-family: Inter;
    font-weight: Medium;
    font-size: 100px;
    text-align: left;
}


.Descripcion {
    width: 660px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 620px;
    left: 180px;
    font-family: Josefin Sans;
    font-weight: Regular;
    font-size: 20px;
    text-align: left;
}

.sesion {
    padding: 10px;
    width: 250px;
    background-color: #A3E784;
    border-color: #A3E784;
    color: #000000;
    border-radius: 5px;
    position: absolute;
    top: 770px;
    left: 180px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 18px;
    text-align: center;
    cursor: pointer;
}

.Registrarse {
    padding: 10px;
    width: 250px;
    background-color: #ffffff;
    border-color: #A3E784;
    color: #A3E784;
    border-radius: 5px;
    position: absolute;
    top: 770px;
    left: 500px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 18px;
    text-align: center;
    cursor: pointer;

}

.Principal{
    width: 1000px;
    height: 700px;
    position: absolute;
    top: 180px;
    left: 800px;
}

@media (max-width: 768px) {
    .Principal{
    display:none;
    }

}

}