body {
    font-family: "Josefin Slab", serif;
    font-optical-sizing: auto;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.Container {
    padding: 1px; ;
    width: 10px;
    height: 10px;
    background: rgba(255,255,255,1);
}

.Logo{
    width: 80px;
    height: 80px;
    position: absolute;
    top: 32px;
    left: 100px;
}


.Tittle {
    width: 561px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 160px;
    left: 100px;
    font-family: "Josefin Slab";
    font-size: 90px;
    text-align: left;
}

.Tittle1 {
    width: 284px;
    color: rgba(163,231,132,1);
    position: absolute;
    top: 350px;
    left: 100px;
    font-family: Inter;
    font-weight: Medium;
    font-size: 90px;
    text-align: left;
}


.Descripcion {
    width: 550px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 460px;
    left: 100px;
    font-family: Josefin Sans;
    font-weight: Regular;
    font-size: 17px;
    text-align: left;
}

.sesion {
    padding: 10px;
    width: 250px;
    background-color: #A3E784;
    border-color: #A3E784;
    color: #000000;
    border-radius: 5px;
    position: absolute;
    top: 560px;
    left: 100px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 18px;
    text-align: center;
    cursor: pointer;
    box-shadow:0px 4px 6px rgba(0, 0, 0, 0.3);

}

.Registrarse {
    padding: 10px;
    width: 250px;
    background-color: #ffffff;
    border-color: #A3E784;
    color: #A3E784;
    border-radius: 5px;
    position: absolute;
    top: 560px;
    left: 400px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 18px;
    text-align: center;
    cursor: pointer;
    box-shadow:0px 4px 6px rgba(0, 0, 0, 0.3);
}

.Principal{
    width: 700px;
    height: 500px;
    position: absolute;
    top: 140px;
    left: 630px;
}

