---
import LayoutSuperAdmin from "../../layouts/LayoutSuperAdmin.astro"
import Card from "../../Components/Card.astro"
---

<LayoutSuperAdmin  title="">
        <div class=" px-56 flex flex-col items-start w-1/2 p-10 ">
            <span class="text-9xl  font-josefin-slab mb-30">Bienvenido</span>
            <span class="text-8xl text-Verde font-Inter mb-30">SUPERADMIN</span>
            <span class="text-1xl font-josefin-Inter mb-10 w-30">Hola! querido SuperAdmin aqui podras cargar o crear los usuarios de
                aprendices ycrear los usuarios de intructores, tambien podras crear areas, y editar.</span>

                <div class="px-32 space-x-20 py-12 relative flex items-center justify-center h-full ">
                    <a href="/">
                        <Card  Text="Carga masiva de aprendices"/>
                    </a>

                    <a href="/SuperAdmin/CrearUsuario">
                        <Card  Text="Crear usuarios"/>
                    </a>

                    <a href="/">
                        <Card  Text="Crear Area" />
                    </a>
                </div>

                <div class="px-32 space-x-20 relative flex items-center justify-center h-full">
                    <a href="/SuperAdmin/CrearFichas">
                        <Card  Text="Crear fichas"  />
                    </a>

                    <a href="/">
                        <Card  Text="Crear Objetivos"  />
                    </a>

                    <a href="/">
                        <Card  Text="Crear Alcance" />
                    </a>
                </div>
        </div>

        <div class=" flex justify-end">
            <img class="w-50 h-96 top-24 absolute" src="/Img/image.png" alt="Principal Image">
        </div>
    </div>
</Layoutprincipal>