.editable-input {
    border: 1px solid #ccc;
    padding: 0.5rem;
    border-radius: 4px;
    font-size: 1rem;
    outline: none;
    transition: border-color 0.3s ease-in-out;
    width: 300px; /* Ajusta el ancho según sea necesario */
  }
  
  .editable-input:focus {
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  }
  
  .input-container {
    position: relative;
  }
  
  .input-container i {
    position: absolute;
    top: 50%;
    right: 1rem;
    transform: translateY(-50%);
    color: #ccc;
  }