/* Ajusta el CSS según sea necesario */

body {
    font-family: "Josefin Slab", serif;
    font-optical-sizing: auto;
  }
  
  .relative input {
    padding-right: 2.5rem; /* Añade espacio a la derecha del input para el icono */
  }
  
  .relative i {
    right: 1rem; /* Ajusta la posición del icono */
  }
  
  .error-message {
    color: red;
    font-size: 0.875rem;
    margin-top: 0.25rem; /* Espacio entre el input y el mensaje de error */
    text-align: left;
    width: 100%;
  }
  