---
import Carpag from "../components/carpag.astro"
---


<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <link href="https://fonts.googleapis.com/css?family=Josefin+Slab" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Josefin+Slab&display=swap" rel="stylesheet" />
        <style>
            
            /* Estilos personalizados con Tailwind CSS */
            * {
                box-sizing: border-box;
            }
    
            body {  
            overflow: hidden;
            display: flex;
            justify-content: space-between;
            margin: 0px auto;
            .font-josefin-slab {
        font-family: 'Josefin Slab', serif;
    }
    .font-josefin-sans {
        font-family: 'Josefin Sans', sans-serif;
    }
    .font-inter {
        font-family: 'Inter', sans-serif;
    }
            }
            

        </style>
        <title>Astro</title>
    </head>

    <body class="   h-screen w-full  flex justify-center items-center  p-[5%]       ">
        <div class="w-full      "> 
    <div class=" w-[100%]   m-auto flex  max-[768px]:m-[50px] mt-[3%] ">
        <div class=" w-[90%] flex-col mt-[8%] "> 
            <h1 class=" text-[90px]  leading-[5rem]  font-josefin-slab max-[768px]:text-[60px] ">  Bienvenido
                <h2 class=" text-[70px]   font-['serif' max-[768px]:text-[50px] ] text-[#A3E784] ">  Aprendiz
                    <p class=" text-[15px] mt-[5%] text-black  font-josefin-sans leading-[1rem] w-[85%] ">  <b> ¿Tienes una idea que quema en tu mente? ¡Es hora de compartirla!  Únete a nuestro banco de proyectos y convierte tu visión en realidad. ¿Estás listo para dar el primer paso hacia el éxito? </b></p>
        </div>
             <div class=" w-full   max-[768px]:hidden  flex  items-center  "> 
                        <img class=" w-[30em]   max-[768px]:hidden  mt-[30px]  " src="/img/mujer.png" alt="Olvido de contraseña" />
                </div>    
             </div> 
    
             <div class="w-[100%] h-[50%] flex justify-center "> 
                <Carpag Text="Ver proyecto asignado"/>
            </div>
        </div>
    </div>
    </body>
    
</html>

    
</html>
