---
import Navbar from "../components/Navbar.astro"
import Sidebar_Simulador from "../components/Sidebar_Simulador.astro"
---
<!DOCTYPE html>
<html lang="en">
	<head>
        <meta charset="UTF-8">
        <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Josefin+Slab&display=swap" rel="stylesheet" />
        <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
		<title>PAC</title>

        <style>
            .font-josefin-slab {
                font-family: 'Josefin Slab', serif;
            }
            .font-josefin-sans {
                font-family: 'Josefin Sans', sans-serif;
            }
            .font-inter {
                font-family: 'Inter', sans-serif;
            }
        </style>

	</head>
    <body class=" bg-Gris_Oscuro bg-cover bg-center h-screen overflow-y-scroll  ">
        <Navbar Text="SuperAdmin"/>

            <div class=" text-center p-8">
                <span class="font-serif"> Crear usuario </span>
            </div>

            <div class=" w-3/4 h-5/6 bg-white rounded-lg border-none border-Borde_gris flex float-center justify-center adsolute p-8 m-8">


            </div>
    </body>
</html>