---
import Navbar from "../components/Navbar.astro"
import Sidebar_Simulador from "../components/Sidebar_Simulador.astro"
import Input from "../components/Input.astro"
import Checkbox from "../components/Checkbox.astro"
import Button_Inicio from "../components/Button_Inicio.astro"
---
<!DOCTYPE html>
<html lang="en">
	<head>
        <meta charset="UTF-8">
        <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Josefin+Slab&display=swap" rel="stylesheet" />
        <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
		<title>PAC</title>

        <style>
            .font-josefin-slab {
                font-family: 'Josefin Slab', serif;
            }
            .font-josefin-sans {
                font-family: 'Josefin Sans', sans-serif;
            }
            .font-inter {
                font-family: 'Inter', sans-serif;
            }
        </style>

	</head>
    <body class=" bg-Gris_Oscuro bg-cover bg-center h-screen overflow-y-scroll ">
        <Navbar Text="SuperAdmin"/>

            <div class=" text-center p-8">
                <span class="font-serif"> Crear usuario </span>
            </div>
            <div class="p-1 w-3/4 h-5/6 bg-white rounded-lg border-none border-Borde_gris flex items-center justify-center adsolute mx-40">
                <div class="flex space-x-10">
                <div class="flex-box flex flex-col space-y-2 w-1/2">
                    <h1 class="font-serif text-base">Nombre del usuario:</h1>
                    <Input  placeholder="Jairo Ramirez" type="text"/>
                    <h1 class="font-serif">Numero de documento:</h1>
                    <Input  placeholder="1112343546" type="text"/>
                    <h1 class="font-serif">Correo:</h1>
                    <Input  placeholder="jairoramirez@misena.edu.co" type="email"/>
                </div>

                <div class="Flex-box flex flex-col space-y-2 w-1/2">
                    <h1 class="font-serif">Contraseña:</h1>
                <Input  placeholder=".............." type="password"/>
                <h1 class="font-serif">Estado:</h1>
                <div class="flex-box flex flex-col space-y-10">
                    <div class="flex space-x-8">
                    <Checkbox Text="Activo"/>     <Checkbox Text="Inactivo"/>
                </div>
                <div class="flex-box flex flex-col space-y-2 w-1/2">
                    <h1 class="font-serif">Celular:</h1>
                <Input  placeholder="3245678900" type="text"/>
                </div>
                <div class="mx-32">
                    <Button_Inicio Text="Guardar"/>
                </div>
                </div>
                </div>
                </div>
            </div>

    </body>
</html>