---
import Card_Home from "../components/Card_Home.astro"
import Navbar from "../components/Navbar.astro"
import Sidebar_Simulador from "../components/Sidebar_Simulador.astro"
---
<!DOCTYPE html>
<html lang="en">
	<head>
        <meta charset="UTF-8">
        <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Josefin+Slab&display=swap" rel="stylesheet" />
        <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
		<title>PAC</title>

        <style>
            .font-josefin-slab {
                font-family: 'Josefin Slab', serif;
            }
            .font-josefin-sans {
                font-family: 'Josefin Sans', sans-serif;
            }
            .font-inter {
                font-family: 'Inter', sans-serif;
            }
        </style>

	</head>
	<body class="bg-cover bg-center shadow-md h-full max-[768px] max-[768px]:p-[20px] overflow-y-scroll ">
            <Navbar Text="SuperAdmin"/>
            
            <div class="flex h-full">
                <Sidebar_Simulador />

                <div class="flex flex-col items-start w-1/2 p-8">
                    <span class="text-9xl  font-josefin-slab mb-30">Bienvenido</span>
                    <span class="text-8xl text-Verde font-Inter mb-30">SUPERADMIN</span>
                    <span class="text-1xl font-josefin-Inter mb-10 w-30">Hola! querido SuperAdmin aqui podras cargar o crear los usuarios de
                        aprendices ycrear los usuarios de intructores, tambien podras crear areas, y editar.</span>

                        <div class="p-50 relative flex items-center justify-center h-full ">
                            <Card_Home Text="Carga masiva de aprendices"/>
                            <Card_Home Text="Crear usuarios"/>
                            <Card_Home Text="Crear Area"/>
                        </div>

                        <div class="p-50 relative flex items-center justify-center h-full">
                            <Card_Home Text="Crear Registro del proyecto"/>
                            <Card_Home Text="Crear Objetivos"/>
                            <Card_Home Text="Crear Alcance"/>
                        </div>
                </div>

                <div class="w-1/2 flex justify-center items-center ">
                    <img class="w-50 h-96 top-20 absolute" src="/Img/image.png" alt="Principal Image">
                </div>
            </div>
	</body>
</html>
