---

---

<html lang="en">
	<head>
		<link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Josefin+Slab&display=swap" rel="stylesheet" />
        <link href="/src/styles/Index.css" rel="stylesheet" />
		<title>PAC</title>
	</head>
	<body>
		<div class="Container">
			<img class="Logo" src="../assets/Img/Logo.png">
            <span class="Tittle1">ADSO</span>
			<span class="Tittle">Banco de proyectos</span>
            <span class="Descripcion">¿Tienes una idea que quema en tu mente? ¡Es hora de compartirla! Únete a nuestro banco de proyectos y convierte tu visión en realidad. ¿Estás listo para dar el primer paso hacia el éxito?</span>

            <booton class="Registrarse">Registrarse</booton>
            <botton class="sesion">Iniciar sesion</botton>


		</div>

	</body>
</html>
