---
import Navbar2 from "../Components/Navbar2.astro";
import Menu from "../Components/Menu.astro";
import PostLayout from "./PostLayout.astro";


interface Props { //TypeScript
    title: string;
}

const { title } = Astro.props;
---

<PostLayout title="Instructor">
    <div>
    <header class="w-full bg-white  ">
        <Navbar2 Text="djcds"/>
    </header>

    <aside>
        <Menu/>
        
    </aside>

    <slot/>
</div>

</PostLayout>