---
interface Props {
    //TypeScript
    title: string;
}

const { title } = Astro.props;
---

<main class="flex justify-center items-center min-h-screen min-w-full 2xl:p-10 pl-9 p-10  ">
    <div class="xl:w-2/3 h-auto p-8 rounded-lg border-none bg-white ">
    
        <slot />

    </div>


</main>