---
export interface Props {
  title: string;
  title2:  string;
}
const { title, title2 } = Astro.props;
import Navbar from '../Components/Navbar.astro';

import Menu from '../Components/Menu.astro';
---

<!DOCTYPE html>
<html lang="en">
	<head>
        <meta charset="UTF-8">
        <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Josefin+Slab&display=swap" rel="stylesheet" />
        <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
		<title>{title}</title>

  <body>
    <Menu/>
    <Navbar Text='SuperAdmin'/>
    <div class=" text-center p-8">
        <span class="font-serif text-2xl"> {title2} </span>
    </div>
    <div class="flex justify-center  min-h-screen">
    <div class=" p-10 w-10/12 h-full bg-white rounded-lg border-none border-Borde_gris flex items-center adsolute mx-40  justify-center "> 
        <div class="flex justify-center space-x-10 ">
            <slot />
        </div>
    </div>
</div>


    <style is:global>
        :root {
          --accent: 124, 58, 237;
          --accent-gradient: linear-gradient(
            45deg,
            rgb(var(--accent)),
            #F5F6FA 30%,
            white 60%
          );
        }
        html {
          font-family: system-ui, sans-serif;
          background-color: #f6f6f6;
        }
        code {
          font-family: 'Josefin Slab', serif, 'Josefin Sans', sans-serif, 'Inter', sans-serif
        }
      </style>

  </body>
</html>