---
interface Props {
    //TypeScript
    title: string;
}

const { title } = Astro.props;
---


 
    <div class="text-center px-20 mt-[1%] ">
        <span class="text-2xl font-bold font-josefin-slab text-center "> {title} </span>

    </div>

<main class="flex justify-center  h-[100vh] max-[768px]:h-[100%] ">
    <div class="   flex-wrap w-[65%] max-[768px]:w-[70%] mt-[1%] h-[74%] bg-white rounded-lg border-none border-Borde_gris flex items-center adsolute  justify-center ">
        <div class=" flex flex-wrap justify-center w-[90%] ">
            <slot />
        </div>
    </div>


</main>