---
interface Props {
Text: string;
}

const {Text} = Astro.props;
---

<label class="checkbox-container inline-block relative pl-[35px] pt-[10px] mb-15 cursor-pointer user-select-none font-serif">{Text}
    <input type="checkbox" id="termsCheckbox" class="absolute opacity-0 cursor-pointer">
    <span class="checkmark absolute top-0 left-0 h-[25px] w-[25px] bg-[#eee] rounded-[4px] mt-2"></span>
</label>

<style>
.checkbox-container input:checked ~ .checkmark {
    background-color: #A3E784;
}

</style>

