---

---


<label class="flex justify-center items-center p-2 gap-2 h-8 w-28 border border-[#FF342B] bg-[#ff362b34] rounded-sm  hover:bg-[#ff362b52]">
    <span class="text-[#FF342B] text-base  font-semibold">Rechazado</span>
  </label>
  
  <style>
    @keyframes spin {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(-360deg);
        }
    }
    .button:hover .svg-icon {
        animation: spin 2s linear infinite;
    }
  </style>