---
Tittle: "Home"
---

<!DOCTYPE html>
<html lang="en">
	<head>
        <meta charset="UTF-8">
        <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Josefin+Slab&display=swap" rel="stylesheet" />
        <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
		<title>PAC</title>

        <style>
            .font-josefin-slab {
                font-family: 'Josefin Slab', serif;
            }
            .font-josefin-sans {
                font-family: 'Josefin Sans', sans-serif;
            }
            .font-inter {
                font-family: 'Inter', sans-serif;
            }
        </style>

	</head>
	<body class="p-1 bg-white flex justify-center items-center h-screen m-0">
		<div class="flex flex-col items-start w-1/2 p-8">
            <div class="flex space-x-4">
                <img class="w-20 h-20 mb-20" src="/Img/Logo.png" alt="Logo">
            </div>
			
            <span class="text-9xl font-josefin-slab mb-10">Banco de proyectos</span>
            <h1 class="text-8xl text-Verde font-Inter mb-50">ADSO</h1>
            <span class="text-base font-josefin-san s mb-10 w-30">¿Tienes una idea que quema en tu mente? ¡Es hora de compartirla! Únete a nuestro banco de proyectos y convierte tu visión en realidad. ¿Estás listo para dar el primer paso hacia el éxito?</span>

            <div class="flex space-x-4">
                <button class="px-20 py-3 bg-Verde text-black rounded-md font-inter text-lg">Iniciar sesión</button>
                <button class="px-20 py-3 bg-white border border-Verde rounded-md font-inter text-lg">Registrarse</button>
            </div>
        </div>
        <div class="w-1/2 flex justify-center items-center">
            <img src="/Img/Principal.png" alt="Principal Image" class="w-full h-auto">
        </div>
	</body>
</html>
