---
import "../style/mensaje.css"


---

<!--Botom-->
<div class="boton-modal">
    <label for = "btn-modal" >
       <a > 多Olvidaste tu contrase単a?</a>
    </label>
</div>


<!--Fin del boton-->
<!--Ventana Botom-->
<input type="checkbox" id ="btn-modal">
<div class="container-modal">
    <div class="content-modal">
   
        <div class="contenedorcontrase単a"> 
     
                
            <div class="btn-cerrar">
           
                <label for="btn-modal"><b>X</b></label>
                
            </div>
         <div class="contenedortext">
            <p>Estimado usuario se le enviara un correo en donde podras
                recueparar tu contrase単a </p>
            </div>
                <div class="button-group"> 
                <button type="button" class="button">Volver al inicio</button> 
               
                </div>
           
            
            </div> 
            
    
        
        
    </div>
</div>