---

import "../../public/img/olvidocontraseña.png"
import "../../public/img/image1.png"
---



<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<link href="https://fonts.googleapis.com/css?family=Josefin+Slab" rel="stylesheet">
		<style>
			/* Estilos personalizados con Tailwind CSS */
			* {
				box-sizing: border-box;
			}
	
			body {	
		    overflow: hidden;
            display: flex;
            justify-content: space-between;
            margin: 0px auto;
			}

		</style>
		<title>Astro</title>
	</head>

<div class=" h-screen w-full m-auto p-[20px]   max-[768px]:bg-[#00000046]   max-[768px]:p-[20px]      ">
         <div class="max-w-[1000px]  mt-[30px]  m-auto flex  max-[768px]:m-[50px]: bg-white max-[768px]:mt-12 max-[768px]:max-w-[340px] rounded-[20px] ">
   
        <div class=" w-[80%] flex flex-col mr-[15px] "> 
            <img class="ml-[20%] w-[60%]   max-[768px]:w-[16em]  max-[768px]:ml-[16%]  " src="/img/image1.png" alt="Forgot Password Image">
             
         
            <h1 class="font-['sans-serif'] pt-[60px] text-[30px] text-center max-[768px]:text-[35px]  flex justify-center max-[768px]:ml-[80px]  ">RECUPERAR CONTRASEÑA</h1> 
            <form class="p-[1em] "> 
                <input class="font-['sans-serif'] ml-[10%] w-[20em] mt-[50px] p-[15px] rounded-[5px] bg-[#d5d5d538] max-[768px]:w-[15em] max-[768px]:ml-[10%]  " type="email" id="new-password" name="new-password" placeholder="Correo" required>
          
                <div class="button-group"> 
                <button type="button" class="bg-[#a3e784] text-[black] mt-[60px] ml-[25%]  w-[12em] p-[15px] rounded-[5px] shadow-[#1414143f] shadow-xl max-[768px]:mt-[40px] max-[768px]:ml-[25%] ">Recuperar</button> 
               
                </div>
             </form> 
            
            </div> 
            
        
            <div class="contenedorimg"> 
                <img class="w-[60em] h-[30em] max-[768px]:hidden " src="/img/olvidocontraseña.png" alt="Olvido de contraseña" />
              
            </div> 
                
     
        
    </div>
</div>
	
</html>