---
import "../style/olvidocontraseña.css"
import "../../public/img/olvidocontraseña.png"
import "../../public/img/image1.png"
---

<div class=" contenedor">
<div class="contenedorcontraseña"> 
    <img class="logo" src="/img/image1.png" alt="Forgot Password Image">
     
 
    <h1 class="titulo">RECUPERAR CONTRASEÑA</h1> 
    <form class="formulario"> 
        <input class="correo" type="email" id="new-password" name="new-password" placeholder="Correo" required>
  
        <div class="button-group"> 
        <button type="button" class="button">Recuperar</button> 
       
        </div>
     </form> 
    
    </div> 
    

    <div class="contenedorimg"> 
        <img class="imagen" src="/img/olvidocontraseña.png" alt="Olvido de contraseña" />
      
    </div> 

</div>