---
import LayoutFormulario from "../layouts/LayoutFormulario.astro";
import Input from "../Components/Input.astro";
import BotonPrincipal from "../Components/BotonPrincipal.astro";
---

    <style>
        body {
            font-family: "Nunito Sans", sans-serif;
            font-optical-sizing: auto;
        }
    .relative input {
        padding-right: 2.5rem; /* Añade espacio a la derecha del input para el icono */
    }
    .relative i {
        right: 1rem; /* Ajusta la posición del icono */
    }
    .error-message {
        color: red;
        font-size: 0.875rem; /* Tamaño de fuente pequeño */
        margin-top: -0.5rem; /* Ajusta el margen para alinear mejor con los inputs */
        margin-bottom: 1rem; /* Espacio debajo del mensaje */
        text-align: left; /* Alineación del texto */
        width: 100%; /* Asegura que ocupe todo el ancho del contenedor */
    }
</style>

<LayoutFormulario title="Formulario">
    <div class="flex 2xl:h-screen h-auto sm:96 items-center justify-center 2xl:gap-x-72">
        <div class="flex content-center">
            <form id="formu" action="http://localhost:4000/api/login" method="POST" class="form flex flex-col 2xl:w-96 sm:w-[600px] sm:h-[900px] justify-center items-center 2xl:gap-28 gap-y-20 sm:gap-y-24">
                <div class="logo-sena flex m-auto items-center justify-center w-56 h-20 sm:w-96 sm:h-32 2xl:max-w-80 2xl:max-h-32 bg-custom-green 2xl:rounded-bl-[50px] 2xl:rounded-br-[50px] rounded-bl-[40px] rounded-br-[40px]">
                    <img class="sena sm:w-20 sm:h-20 w-12 h-12" src="/Img/Logo.png" alt="Logo Sena">
                </div>

                <div class="login flex flex-col items-center 2xl:gap-4 2xl:min-w-96 w-56 sm:w-96 gap-y-4 sm:gap-y-7">
                    <div class="text-3xl 2xl:pb-8">LOGIN</div>

                    <div class="relative w-full">
                        <Input type="email" Text="" placeholder="Correo:" id="CorreoInicio"/>
                        <span id="correoError" class="error-message"></span>
                    </div>

                    <div class="relative w-full">
                        <Input type="password" Text="" placeholder="Contraseña:" id="contrasenaInicio"/>
                        <i class='bx bx-show cursor-pointer absolute right-3 top-2/4 transform -translate-y-2/4' id="togglePasswordInicio"></i>
                        <span id="contrasenaError" class="error-message"></span>
                    </div>

                    <div class="flex justify-end w-full">
                        <a href="/OlvidarContraseña" class="text-blue-500 underline decoration-1">¿Olvidaste tu contraseña?</a>
                    </div>

                    <!-- Botón principal como input de tipo submit -->
                     
                    <BotonPrincipal Text="Loginn" />
                </div>

                <div class="boton items-center text-center sm:mb-20">
                    <div class="flex">¿No tienes cuenta?</div>
                    <a href="/Registro1" class="signup text-blue-500 underline decoration-1">Registrarse</a>
                </div>
            </form>
        </div>

        <div class="hidden md:hidden lg:hidden xl:block 2xl:block 2xl:w-[800px] 2xl:h-[800px] xl:h-[650px] xl:w-[550px] sm:w-[700px] sm:h-[700px]">
            <img class="sm:w-auto sm:h-auto 2xl:w-full 2xl:h-full" src="/Img/Principal.png" alt="Imagen niño">
        </div>
    </div>

    <script src="../js/Inicio.js"></script>
</LayoutFormulario>