---
import LayoutPrincipal from "../layouts/LayoutPrincipal.astro";
import CardAreas from "../Components/CardAreas.astro";
import Layoutcontenido from "../layouts/Layoutcontenido.astro"
import BotonPrincipal from "../Components/BotonPrincipal.astro";
import BotonSegundo from "../Components/BotonSegundo.astro";
---


<LayoutPrincipal title="">


<Layoutcontenido title="">

    <div class="flex justify-center">
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-2 gap-4 ">
            <CardAreas Text="1. Gestión De Recursos Humanos" Text2="Reclutamiento y Selección" Text3="d" Text4="c" Text5="Capacitacion y Desarrollo"/>
            <CardAreas Text="2. Gestión de la Relación con Clientes" Text2="d" Text3="d" Text4="c" Text5="Capacitacion y Desarrollo"/>
            <CardAreas Text="Gestión Empresarial" Text2="d" Text3="d" Text4="c" Text5="j"/>
            <CardAreas Text="Gestión Empresarial" Text2="d" Text3="d" Text4="c" Text5="j"/>
            
        </div>
        
    </div>
    <div class="flex flex-col items-center sm:flex-row justify-end space-y-2 sm:space-y-0 sm:space-x-4 md:p-8">
        <a href="/VistaAreas1" class="flex flex-col items-center sm:flex-row justify-end space-y-2 sm:space-y-0 sm:space-x-4 md:pr-8 ">
            <BotonPrincipal Text="Volver" />
        </a>
    </div>
</Layoutcontenido>

</LayoutPrincipal>