---
import Button from "../../Components/BotonPrincipal.astro"
import Input from '../../Components/Input.astro';
import SelectBoxTI from "../../Components/SelectBoxTI.astro"
import LayoutPrincipal from '../../layouts/LayoutPrincipal.astro';
import Layoutcontenido from "../../layouts/Layoutcontenido.astro"
---

<LayoutPrincipal title="Crear Usuario">
    <Layoutcontenido title="Crear Usuario">
    <div class="Flex-box flex flex-col space-y-8 w-1/2 p-[1em] ">
        <Input  placeholder="Nombre completo" type="text" Text="Nombre completo" id='nombre'/>
          <SelectBoxTI Text="Tipo de documento"/>
        <Input  placeholder="Numero de docuemnto" type="text" Text="Numero de docuemnto" id='numeroDoc'/>
        <Input   placeholder="Telefono" type="text"Text="Telefono" id='telefono'/>
      
    </div>

    <div class="Flex-box flex flex-col space-y-8 w-1/2">
        <Input  placeholder="Correo" type="email"Text="Correo" id='correo'/>
       
        <Input  type="text" Text="Nombre De la Empresa" placeholder="Nombre De la Empresa:" id='nombreEmpresa'/>
        <Input placeholder="Contraseña" type="password" Text="Contraseña" id='contraseña'/>
        <Input placeholder="Confirmar Contraseña" type="password" Text="Confirmar Contraseña" id='confiContraseña'/>
      
    </div>


    
</div>
</div>
</div>

    </Layoutcontenido></LayoutPrincipal>