---
// Importar los componentes necesarios y asignar los props
import PostLayout from "../../layouts/PostLayout.astro";
import Input from "../../Components/Input.astro";
import BotonPrincipal from "../../Components/BotonPrincipal.astro";
import AceptarTerminos from "../../Components/AceptarTerminos.astro";
import SelectBoxTI from "../../Components/SelectBoxTI.astro";

interface Props {
  id1: string;
}

const { id1 } = Astro.props;
---

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Slab:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <style>
        body {
            font-family: "Josefin Slab", serif;
            font-optical-sizing: auto;
        }
        .relative input {
            padding-right: 2.5rem; /* Añade espacio a la derecha del input para el icono */
        }
        .relative i {
            right: 1rem; /* Ajusta la posición del icono */
        }
        .error-message {
            color: red;
            font-size: 0.875rem; 
            margin-bottom: 1rem; 
            text-align: left; 
            width: 100%; 
        }
        .success-message {
            color: green;
            font-size: 0.875rem;
            margin-top: 0.25rem;
            text-align: center;
            width: 100%;
        }
    </style>
</head>
<body>
    <div class="flex h-screen items-center justify-center gap-x-72">
        <div class="flex content-center"> 
            <form id="formu" class="form flex flex-col w-96 items-center gap-4" method="post">

                <div class="logo-sena flex m-auto items-center justify-center w-80 h-28 bg-custom-green rounded-bl-[50px] rounded-br-[50px]"> <!--caja del logo -->
                    <img class="sena w-20 h-20" src="/public/img/logoSena.png" width="10" height="10">
                </div>

                <div class="registro flex flex-col items-center gap-2 min-w-96">
                    <div class="text-3xl">REGISTRO</div>

                    <div class="relative w-full">
                        <Input type="text" Text="" placeholder="Nombre Completo:" id="registroNombre" />
                        <span id="nombreError" class="error-message"></span>
                    </div>

                    <div class="relative w-full">
                        <SelectBoxTI Text="" id="tipoDocumento" />
                        <span id="tipoDocumentoError" class="error-message"></span>
                    </div>

                    <div class="relative w-full">
                        <Input type="text" Text="" placeholder="Número De Documento:" id="numeroDc" />
                        <span id="numeroDcError" class="error-message"></span>
                    </div>

                    <div class="relative w-full">
                        <Input type="email" Text="" placeholder="Correo:" id="CorreoRegistro"/>
                        <span id="correoError" class="error-message"></span>
                    </div>

                    <div class="relative w-full">
                        <Input type="text" Text="" placeholder="Teléfono:" id="telefono" />
                        <span id="telefonoError" class="error-message"></span>
                    </div>

                    <div class="relative w-full">
                        <Input type="text" Text="" placeholder="Nombre De la Empresa:" id="nombreEmpresa"/>
                        <div id="empresaError" class="error-message"></div> 
                    </div>

                    <div class="relative w-full">
                        <Input type="password" Text="" placeholder="Contraseña:" id="contrasenaRegistro"/>
                        <i class='bx bx-show cursor-pointer absolute right-3 top-2/4 transform -translate-y-2/4' id="togglePasswordRegistro"></i>
                        <span id="contrasenaError" class="error-message"></span>
                    </div>

                    <div class="relative w-full">
                        <Input type="password" Text="" placeholder="Confirmar Contraseña:" id="confirmarContrasena"/>
                        <i class='bx bx-show cursor-pointer absolute right-3 top-2/4 transform -translate-y-2/4' id="togglePasswordConfirmacion"></i>
                        <span id="confirmarContrasenaError" class="error-message"></span>
                    </div>

                    <div class="relative w-full">
                        <div class="flex items-center">
                            <AceptarTerminos Text="Aceptar Términos y Condiciones" id="aceptarTerminos" />
                        </div>
                        <span id="terminosError" class="error-message"></span>
                    </div>
                    
                    <BotonPrincipal Text="Registrarse" id="Registro"></BotonPrincipal>
                    <span id="successMessage" class="success-message"></span>
                    <h3 class="w-[200px] h-[44px] py-[10px] cursor-pointer text-[15px] mt-3 self-center">Ya tienes cuenta?
                    <a href="/Principal/Inicio" class="text-blue-500 underline decoration-1">Iniciar Sesión</a></h3>
                </div>
            </form>
        </div>

        <div class="hidden lg:block w-full lg:w-[800px]">
            <img class="w-[800px] h-[800px]" src="/Img/registro.png" alt="Registro">
        </div>

    </div>
    <script src="../../js/Principal/Registro.js"></script>
</body>
</html>