---
import Input from "../../Components/Input.astro";
---

<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Actualizar Contraseña</title>
  <link rel="stylesheet" href="/path/to/your/styles.css">
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
  <style>
        .relative {
        position: relative; /* Asegura que el ícono sea posicionado relativo al contenedor */
     }
     .relative input {
        padding-right: 2.5rem; /* Espacio para el ícono del ojo */
     }
     .relative i {
        position: absolute;
        right: 1rem; /* Posiciona el ícono a la derecha del contenedor */
        top: 60%;
        transform: translateY(-50%); /* Centra verticalmente el ícono */
        cursor: pointer; /* Cursor en forma de puntero para mejor usabilidad */
     }
  </style> <!-- Asegúrate de que la ruta sea correcta -->
</head>
<body>
    <div class="min-h-screen flex items-center justify-center bg-gray-100">
        <div class="bg-white p-8 rounded-lg shadow-lg w-full max-w-md">
          <h2 class="text-2xl font-bold text-gray-800 text-center">Actualizar Contraseña</h2>
          <form id="update-password-form" class="mt-6">
            <input type="hidden" id="token" /> 
            <input type="hidden" id="email" />
           

            <div class="mb-4 relative">
              <label for="new-password" class="block text-gray-700 font-semibold">Nueva Contraseña</label>
              <Input type="password" id="new-password" Text="" placeholder=""/>
              <i class='bx bx-show' id="togglePasswordRegistro"></i>
            </div>

            <div class="mb-4 relative">
              <label for="confirm-password" class="block text-gray-700 font-semibold">Confirmar Contraseña</label>
              <Input type="password" id="confirm-password" Text="" placeholder=""/>
              <i class='bx bx-show' id="togglePasswordConfirmacion"></i>
            </div>

            <button type="submit" class="w-full bg-blue-600 text-white font-semibold py-2 rounded-lg">Actualizar Contraseña</button>
            <p id="message" class="mt-4 text-center"></p>
          </form>
        </div>
      </div>
      <script src="../../js/Principal/Contraseña.js"></script>

 
 
</body>
</html>