---
import CardProyect from "../../Components/CardProyect.astro"
import BotonPrincipal from "../../Components/BotonPrincipal.astro"
import RadioButton from "../../Components/RadioButton.astro"
import BotonSegundo from "../../Components/BotonSegundo.astro"
import Layoutprincipal from "../../layouts/LayoutPrincipal.astro"
import Layoutcontenido from "../../layouts/Layoutcontenido.astro"

let data = [];

// Función para obtener proyectos desde la API
const fetchproyecto = async () => {
  try {
    const response = await fetch('http://localhost:4000/api/proyectos'); // Asegúrate de que la URL es correcta
    if (response.ok) {
      data = await response.json();
    } else {
      console.error('Error al obtener los proyectos:', response.statusText);
    }
  } catch (error) {
    console.error('Error de red al obtener los proyectos:', error);
  }
};


// Llamar a la función para obtener los proyectos
await fetchproyecto();
---

<Layoutprincipal title="Proyectos">

    <Layoutcontenido title="contenido">

    <div class="flex flex-col items-center">
        <div class="w-full max-w-7xl">
            <div class="flex justify-start mb-4 ml-9">
                <div class="grid grid-cols-4 gap-x-8 gap-y-4 mt-4">
                    <RadioButton Text="Aceptado" id=""/>
                    <RadioButton Text="Rechazado" id=""/>
                    <RadioButton Text="Devueltos" id=""/>
                    <RadioButton Text="Todos" id=""/>
                </div>
            </div>

            <div class="grid grid-cols-1 gap-8 md:grid-cols-2 lg:grid-cols-3 font-josefin-slab">
              {data.length > 0 ? (
                data.map((proyecto) => (

                  <CardProyect  Text={proyecto.nombre}>

                    <a href={`/services/${proyecto.idproyecto}`}>
                      <BotonSegundo Text="Ver" />
                    </a>

                  </CardProyect>
                ))
              ) : (
                <p class="text-center">No hay proyectos para mostrar.</p>
              )}
              </div>
        </div>
    </div>

</Layoutcontenido>
</Layoutprincipal>