---
import Layoutcontenido2 from "../../layouts/Layoutcontenido2.astro";
import LayoutPrincipal2 from "../../layouts/LayoutPrincipal2.astro";
import Input from "../../Components/Input.astro";
import BotonPrincipal from "../../Components/BotonPrincipal.astro";
import BotonSegundo from "../../Components/BotonSegundo.astro";
import RadioButton from "../../Components/RadioButton.astro";
---
<LayoutPrincipal2 title="">
    <Layoutcontenido2 title="" text1="Editar Proyecto">
        <div class="w-1/2 mx-auto">
            <div class="flex font-josefin-slab flex-col space-y-8">
                <Input type="text" Text="Nombre Del Proyecto" placeholder="Ejemplo: Pac" id="Nombre Del Proyecto" />
                <Input type="text" Text="Sector Impactado" placeholder="Impacto Del Proyecto:" id="Impacto del proyecto"/>
                <Input type="text" Text="Responsable" placeholder="Responsable Del Proyecto" id="Responsable"/>

                <div class="space-y-2">
                    <label class="font-josefin-slab font-semibold text-black">
                        Disponibilidad Para Reuniones Con El Equipo Desarrollador
                    </label>
                </div>

                <div class="grid sm:grid-cols-3 grid-cols-1 sm:gap-y-4 gap-4">
                    <div class="flex justify-center">
                        <BotonPrincipal class="w-25" Text="Semanal" />
                    </div>
                    <div class="flex justify-center">
                        <BotonPrincipal class="w-25" Text="Quincenal" />
                    </div>
                    <div class="flex justify-center">
                        <BotonPrincipal class="w-25" Text="Mensual" />
                    </div>
                </div>

                <div class="grid sm:grid-cols-3 gap-x-8 sm:gap-y-4 mt-4">
                    <RadioButton Text="Lunes" id=""/>
                    <RadioButton Text="Martes" id=""/>
                    <RadioButton Text="Miércoles" id=""/>
                    <RadioButton Text="Jueves" id=""/>
                    <RadioButton Text="Viernes" id=""/>
                    <RadioButton Text="Sábado" id=""/>
                </div>

                <div class="flex flex-col items-center sm:flex-row justify-end space-y-2 sm:space-y-0 sm:space-x-4">
                    <a href="/VistaAreas1">
                        <BotonSegundo Text="Siguiente" />
                    </a>
                </div>
            </div>
        </div>
    </Layoutcontenido2>
</LayoutPrincipal2>