---
import Layoutcontenido2 from "../../layouts/Layoutcontenido2.astro";
import LayoutPrincipal2 from "../../layouts/LayoutPrincipal2.astro";
import Input from "../../Components/Input.astro";
import BotonPrincipal from "../../Components/BotonPrincipal.astro";
import BotonSegundo from "../../Components/BotonSegundo.astro";
import RadioButton from "../../Components/RadioButton.astro";
---

<LayoutPrincipal2 title="">
    <Layoutcontenido2 title="" text1="Registrar Proyecto">
        <div class="w-1/2 mx-auto">
            <div class="flex font-josefin-slab flex-col space-y-8">
                <div>
                    <Input type="text" Text="Nombre Del Proyecto" placeholder="Ejemplo: Pac" id="NombreDelProyecto" />
                    <span id="errorNombreDelProyecto" class="text-red-500 text-sm"></span>
                </div>
                <div>
                    <label for="ImpactoDelProyecto" class="block font-josefin-slab font-semibold text-black">Sector Impactado</label>
                    <textarea id="ImpactoDelProyecto" placeholder="Impacto Del Proyecto:" maxlength="250" class="w-full p-2 border border-gray-300 rounded bg-[#F5F6FA]"></textarea>
                    <span id="errorImpactoDelProyecto" class="text-red-500 text-sm"></span>
                </div>
                <div>
                    <Input type="text" Text="Responsable" placeholder="Responsable Del Proyecto" id="Responsable" />
                    <span id="errorResponsable" class="text-red-500 text-sm"></span>
                </div>
                <input type="hidden" id="idalcance" value="" />
                <input type="hidden" id="idobjetivos" value="" />
                <input type="hidden" id="idarea" value="" />
                <input type="hidden" id="idficha" value="" />
                <input type="hidden" id="idpersona" value="" />
                <div class="space-y-2">
                    <label class="font-josefin-slab font-semibold text-black">
                        Disponibilidad Para Reuniones Con El Equipo Desarrollador
                    </label>
                </div>

                <div class="grid sm:grid-cols-3 grid-cols-1 sm:gap-y-4 gap-4">
                    <div class="flex justify-center">
                        <BotonPrincipal Text="Semanal" id="btnSemanal" class="btn-frecuencia" />
                    </div>
                    <div class="flex justify-center">
                        <BotonPrincipal Text="Quincenal" id="btnQuincenal" class="btn-frecuencia" />
                    </div>
                    <div class="flex justify-center">
                        <BotonPrincipal Text="Mensual" id="btnMensual" class="btn-frecuencia" />
                    </div>
                    <span id="errorFrecuenciaReunion" class="text-red-500 text-sm sm:col-span-3"></span>
                </div>

                <div class="grid sm:grid-cols-3 gap-x-8 sm:gap-y-4 mt-4">
                    <RadioButton Text="Lunes" id="checkboxLunes" />
                    <RadioButton Text="Martes" id="checkboxMartes" />
                    <RadioButton Text="Miércoles" id="checkboxMiercoles" />
                    <RadioButton Text="Jueves" id="checkboxJueves" />
                    <RadioButton Text="Viernes" id="checkboxViernes" />
                    <RadioButton Text="Sábado" id="checkboxSabado" />

                    <span id="errorDiasReunion" class="text-red-500 text-sm sm:col-span-3 "></span>
                </div>

                <div class="flex flex-col items-center sm:flex-row justify-end space-y-2 sm:space-y-0 sm:space-x-4">
                    <a id="nextPageLink" href="/Principal/VistaAreas1">
                        <BotonSegundo Text="Siguiente" />
                    </a>
                </div>
            </div>
        </div>
        <script src="../../js/Usuario/RegistroProyecto.js"></script>

    </Layoutcontenido2>
</LayoutPrincipal2>