---
import LayoutPrincipal from "../../layouts/LayoutPrincipal.astro";
import Card from "../../Components/Card.astro";
import Layoutcontenido from "../../layouts/Layoutcontenido.astro";
import BotonPrincipal from "../../Components/BotonPrincipal.astro";
// Función para obtener las áreas desde la API
const fetchAreas = async () => {
  try {
    const response = await fetch('http://localhost:4000/api/areas');
    if (!response.ok) {
      throw new Error('Network response was not ok');
    }
    const data = await response.json();
    return data.map(area => area.area);
  } catch (error) {
    console.error('Error al obtener áreas:', error);
    return []; 
  }
};


// Obtén los datos
const areas = await fetchAreas();
---

<LayoutPrincipal title="">
  <Layoutcontenido title="">
    <div class="p-8">
      <h1 class="text-3xl font-bold font-josefin-slab">Áreas de Proyectos</h1>
      <p class="text-lg font-josefin-slab">Por favor seleccione el área en la cual se centrará su proyecto</p>
    </div>

    <div class="flex justify-center">
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
        <!-- Usa un bucle para renderizar un componente Card para cada área -->
        {areas.map((area, index) => (
          <Fragment key={index}>
            <a href={`Usuario/VistaAreas2?area=${encodeURIComponent(area)}`}>
              <Card Text={area} />
            </a>
          </Fragment>
        ))}
      </div>
    </div>

    <div class="flex flex-col items-center sm:flex-row justify-end space-y-2 sm:space-y-0 sm:space-x-4 md:p-8">
      <a href="/Usuario/RegistroProyecto" class="flex flex-col items-center sm:flex-row justify-end space-y-2 sm:space-y-0 sm:space-x-4 md:pr-8">
        <BotonPrincipal Text="Volver" />
      </a>
    </div>
  </Layoutcontenido>
</LayoutPrincipal>