---
interface Props {
   
   title: string;
   text1: String;
}

const { title, text1 } = Astro.props;
---

<main class="flex flex-col justify-center items-center min-h-auto min-w-full">
    <div class="w-full flex justify-center ">
        <h1 class="text-3xl font-bold font-josefin-slab text-center m-8">{text1}</h1>
    </div>
    <div class="w-2/3 md:w-2/4 h-auto bg-white rounded-lg border-none p-0 md:p-8 mb-8 border-Borde_gris mx-4 md:mx-40 flex flex-col items-center justify-center">
        <slot />
    </div>
</main>